<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Logs</title>
</head>
<body>
<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -
    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <form action="{% url 'users:logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">log out</button>
        </form>
    {% else %}
        <a href="{% url 'users:register' %}">register</a> -
        <a href="{% url 'users:login' %}">log in</a>
    {% endif %}

</p>

{% block content %}{% endblock content %}
</body>
</html>